@use '../../styles/scss/flex-grid' as *;
@use '../../styles/scss/utils' as *;

.container-solution-list-page {
  @include flex-column(32px, flex-start, stretch);
  & > .header {
    margin-bottom: 32px;
    @include flex(row, space-between);
    & > .title {
      @include typography_BVNPro-desktop-h4;
    }
  }
  & > .my__solution-list {
    &:not(.empty-my-solution) {
      @include grid(12, none, 24px);
      & > div:not(.pagination__my-solutions) {
        grid-column: span 3;
        width: 100%;
        @include flex-column(24px, flex-start, stretch);
      }

      & > .pagination__my-solutions {
        grid-column: span 12;
        margin-top: 12px;
      }
    }

    &:has(.empty-my-solution) {
      @include flex-row(0, center, center);
      height: 100%;
    }
  }
}
