@use '../../styles/scss/flex-grid' as *;
@use '../../styles/scss/utils/mixin/typography' as *;
@use '../../styles/scss/utils/variables/colors' as *;
.container-settings-profile-page {
  & > .settings-profile-page-title {
    @include typography_BVNPro-desktop-h3;
    margin-bottom: 62px;
  }
  & > .form-filter {
    @include grid(12, none, 24px, none, none);
    & > div {
      grid-column: span 9;
      & > .main-settings-profile-page {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 24px;
      }
      & > .action-submit-preview {
        @include grid(12, none, 24px, none, none);
        & > .submit {
          grid-column: span 8;
        }
        & > .preview {
          grid-column: span 4;
        }
      }
    }
    & > .filter {
      grid-column: span 3;
    }
  }
}
