@use '../../../../../../styles/scss/utils' as *;
@use '../../../../../../styles/scss/flex-grid' as *;

.action {
  display: flex;
  gap: 24px;

  & > .action-like,
  & > .action-dislike,
  & > .action-comment {
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      box-shadow $shadow_transition_time_duration ease,
      border-color 0.3s ease;
    user-select: none;
    text-transform: capitalize;
    min-width: 130px;
    & > div {
      transition:
        border-color 0.3s ease,
        width 0.3s ease;
    }

    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
    }

    &:active {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    }
  }
  & > .action-like {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid $satinDeepBlack-tints-300;
    border-radius: 4px;
    &.active {
      background-color: $saturatedSky-main;
      color: $white;
      border-color: $saturatedSky-main;

      & > .like {
        border-color: $white;
      }
    }
    & > .like {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px;
      border-right: 1px solid $satinDeepBlack-tints-300;
      flex: 1;
      justify-content: center;
      & > svg {
        width: 24px;
        height: 24px;
      }
    }
    & > .quantity {
      padding: 15.5px 12px;
      width: fit-content;
    }
  }
  & > .action-dislike {
    cursor: pointer;
    display: flex;
    align-items: center;

    &.active {
      background-color: $dayGlowOrange-main;
      color: $white;
      border-color: $dayGlowOrange-main;

      & > .dislike {
        border-color: $white;
      }
    }

    border: 1px solid $satinDeepBlack-tints-300;
    border-radius: 4px;
    & > .dislike {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px;
      border-right: 1px solid $satinDeepBlack-tints-300;
      justify-content: center;
      & > svg {
        width: 24px;
        height: 24px;
      }
      flex: 1;
    }
    & > .quantity {
      width: fit-content;
      padding: 15.5px 12px;
    }
  }
  & > .action-comment {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid $satinDeepBlack-tints-300;
    border-radius: 4px;
    & > .comment {
      display: flex;
      align-items: center;
      padding: 12px;
      gap: 12px;
      border-right: 1px solid $satinDeepBlack-tints-300;
      & > svg {
        width: 24px;
        height: 24px;
      }
    }
    & > .quantity {
      padding: 15.5px 12px;
    }
  }
}
