.searchBar-container {
    .input__component-container {
        padding         : 10px 40px;
        background-color: #F2F2FF;
        border-radius   : 24px;
        border-color    : transparent;

        &:hover {

            &>.icon {
                &>svg {
                    fill: none;
                }
            }
        }

        &:focus-within {

            &>.icon {
                &>svg {
                    fill: none;
                }
            }
        }

        &>input {
            background-color: #F2F2FF;
            width           : 346px;
        }

        &>.icon {
            left       : 10px;
            align-items: center;
            line-height: 40px;
        }
    }
}