@use '../../../styles/scss/utils' as *;
@use '../../../styles/scss/flex-grid' as *;
.reset__password__page-container {
  width: 100%;
  @include flex-column(32px, center, center);

  & > .heading {
    width: 100%;
    @include flex-column(8px, center, center);
    & > .title {
      @include typography_BVNPro-desktop-h4();
      color: $TEXT-black;
      text-align: center;
      text-transform: capitalize;
    }

    & > .sub-title {
      @include typography_BVNPro-desktop-body-2();
      color: $TEXT-black;
      text-align: center;
      max-width: 70%;
    }
  }

  & > .content {
    width: 100%;
    @include flex-column(20px, center, start);

    & > .main__content {
      width: 100%;
      @include flex-column(16px, start, center);

      & > .other {
        & > .prev-page {
          @include flex-row(4px, start, center);
          cursor: pointer;

          &:hover {
            & > .icon > svg {
              fill: $saturatedSky-main;
            }

            & > span {
              color: $saturatedSky-main;
            }
          }

          & .icon {
            width: 24px;
            height: 24px;

            & > svg {
              transition: fill $shadow_transition_time_duration ease-in-out;
            }
          }

          & > span {
            @include typography_BVNPro-desktop-body-2();
            color: $TEXT-black;
            transition: color $shadow_transition_time_duration ease-in-out;
          }
        }
      }
    }
  }
}
