@use '../../../styles/scss/flex-grid' as *;
@use '../../../styles/scss/utils' as *;

.pagination__component {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &-item {
    width: 40px;
    height: 40px;
    border: 1px solid $benthicBlack-tints-200;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    &.active {
      background-color: $saturatedSky-main;
      color: $white;
      border-color: $saturatedSky-main;
    }

    &.disabled {
      background-color: #e5e5e5;
      color: #aaa;
      cursor: not-allowed;
    }

    &:hover:not(.disabled, .active) {
      border-color: $saturatedSky-main;
      color: $saturatedSky-main;
    }
  }
}
