@use '../../../styles/scss/flex-grid' as *;
@use '../../../styles/scss/utils' as *;

.challenge__levelDifficulty-component {
  border-radius: 8px;
  border: 1px solid $saturatedSky-main;
  @include flex-row(4px, center, center);
  @include typography_BVNPro-desktop-body-3();
  overflow: hidden;
  width: fit-content;
  & > .difficulty,
  & > .level {
    padding: 4px 8px;
  }
  & > .difficulty {
    background-color: $saturatedSky-main;
    color: $white;
  }

  & > .level {
    background-color: $white;
    color: $saturatedSky-main;
    padding-right: 8px;
  }
}
